@import 'variable.scss';

.first-comment {
  margin-top: 150px;
  font-size: 2rem;
  font-weight: bold;
}

.second-comment {
  margin-top: 10px;
  font-size: 1rem;
  font-style: italic;
}

.card-voucher-item {
  margin-top: 16px;
  margin-right: 16px;
}

.voucher-detail {
  text-align: center;
}

.voucherdetail-top-image {
  padding-top: 100px;
  object-fit: contain;
  width: 100%;
}

.contentHeader-text {
  margin-top: 20px;
  white-space: pre-line;
  line-height: 2.5;
  font-weight: bold;
}

.content-text {
  margin-top: 10px;
  white-space: pre-line;
  line-height: 2.5;
}

.voucher-note {
  margin-top: 10px;
}

.btn-findvoucher {
  margin-top: 50px;
  margin-bottom: 50px;
  width: 1700px;
  height: 50px;
  text-align: center;
}

.card-code {
  margin: 0 auto; /* Added */
  float: none; /* Added */
  margin-bottom: 10px; /* Added */
  margin-top: 40px;
}

.clipBoard {
  margin-top: 20px;
  margin-bottom: 20px;
}

// AddVoucher css

:root {
  --bg1: rgba(229, 255, 192, 0.653);
  --bg2: rgba(0, 149, 255, 0.925);
  --bg3: rgba(255, 0, 242, 0.762);
}

* {
  margin: 0;
  padding: 0;
  outline: none;
}
a {
  text-decoration: none;
}
.containeradd {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100vw;
  height: 200vh;
  background: linear-gradient(to bottom right, var(--bg1), var(--bg2));
}
.form-Them-Voucher {
  width: 600px;
  height: 1280px;
  background: rgba(128, 128, 128, 0.476);
  border-radius: 100px;
  padding: 50px 50px;
  color: rgb(218, 76, 175);
}
.form-Them-Voucher h1 {
  margin-bottom: 30px;
}
.form-Them-Voucher button {
  margin: 20px;
  margin-top: 25px;
  height: 50px;
  width: 30%;
  margin-bottom: 30px;
  background: linear-gradient(120deg, var(--bg1), var(--bg2), var(--bg3));
  border: none;
  color: white;
  border-radius: 50px;
  background-size: 200%;
  transition: 0.5s;
}
.form-Them-Voucher button:hover {
  background-position: right;
}
.form-date {
  text-align: left;
  margin-bottom: 20px;
  position: relative;
  color: black;
}
.form-date input {
  width: 100%;
  height: 45px;
  border-radius: 10px;
  border-right: 2px pink;
  border-left: 2px pink;
  border-bottom: 2px solid pink;
  border-top: 2px solid pink;
  cursor: pointer;
  padding-left: 12px;
}

.form-file {
  text-align: left;
  margin-bottom: 20px;
  position: relative;
  color: black;
}

.form-radio {
  margin-bottom: 10px;
  position: relative;
  color: black;
}
.form-text {
  margin-bottom: 20px;
  position: relative;
  color: black;
}
.form-text input {
  width: 100%;
  height: 45px;
  border-radius: 10px;
  border-right: 2px pink;
  border-left: 2px pink;
  border-bottom: 2px solid pink;
  border-top: 2px solid pink;
  cursor: pointer;
  padding-left: 12px;
}

//test

.sidebar {
  border-style: solid;
  border-right: solid #8bd3f5;
  display: table-cell;
  width: 15%;
  vertical-align: middle;
  background-color: rgb(79, 192, 230);
}

.sidebar a {
  display: block;
  padding: 10px;
  color: rgba(20, 7, 7, 0.5);
  margin: 15px 0 0 0;
  text-decoration: none;
}

.sidebar a:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: white !important;
}

#content {
  display: table-cell;
  width: 85%;
  vertical-align: top;
  padding: 10px 0 0 10px;
}

/* Toan bo */
* {
  font-family: 'Work Sans', sans-serif;
  font-size: 15px;
}
/* logo*/
.logotxt {
  font-family: 'Permanent Marker', cursive;
  font-size: 25px;
  color: #d7e7f1;
}
.top1 {
  background-color: white;
  height: 50px;
  padding-top: 20px;
  color: rgb(124, 166, 245);
}

/* header css*/
.header {
  top: 0px;
  left: 0;
  z-index: 2000;
  width: 100%;
  position: fixed;
}
.hd_navbar {
  background-color: rgb(61, 189, 248);
  height: 50px;

  padding-right: 150px;
  margin-bottom: 20px;
  border-bottom: solid #60e9f3;
  border-top: solid #60e9f3;
}

.hd_navbar .nav-item .nav-link {
  color: wheat;
  padding: 0 10px;
  font-size: 17px;
}

.hd_navbar .navbar-nav {
  border-bottom: solid #ef7d99;
}
.hd_navbar .nav-item::after {
  content: '';
  display: block;
  height: 3px;
  width: 0;

  background: linear-gradient(to right, white, #ef7d99);
  transition: all 0.5s;
}
.hd_navbar .nav-item:hover::after,
.hd_navbar .nav-item.active::after {
  width: 100%;
}
/* end hd*/

/* carousel*/
.myCarousel {
  padding-top: 100px;
}

/*footer*/
.footer-detail {
  padding: 10px;
  padding-top: 100px;
  background-color: #fce0a2;
}
.theh5 {
  color: brown;
  text-align: center;
}

/* footer*/
.site-footer {
  background-color: #26272b;
  padding: 45px 0 20px;
  font-size: 15px;
  line-height: 24px;
  color: #737373;
}
.site-footer hr {
  border-top-color: #bbb;
  opacity: 0.5;
}
.site-footer hr.small {
  margin: 20px 0;
}
.site-footer h6 {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px;
}
.site-footer a {
  color: #737373;
}
.site-footer a:hover {
  color: #3366cc;
  text-decoration: none;
}
.footer-links {
  padding-left: 0;
  list-style: none;
}
.footer-links li {
  display: block;
}
.footer-links a {
  color: #737373;
}
.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
  color: #3366cc;
  text-decoration: none;
}
.footer-links.inline li {
  display: inline-block;
}
.site-footer .social-icons {
  text-align: right;
}
.site-footer .social-icons a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-left: 6px;
  margin-right: 0;
  border-radius: 100%;
  background-color: #33353d;
}
.copyright-text {
  margin: 0;
}
@media (max-width: 991px) {
  .site-footer [class^='col-'] {
    margin-bottom: 30px;
  }
}
@media (max-width: 767px) {
  .site-footer {
    padding-bottom: 0;
  }
  .site-footer .copyright-text,
  .site-footer .social-icons {
    text-align: center;
  }
}
.social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.social-icons li {
  display: inline-block;
  margin-bottom: 4px;
}
.social-icons li.title {
  margin-right: 15px;
  text-transform: uppercase;
  color: #96a2b2;
  font-weight: 700;
  font-size: 13px;
}
.social-icons a {
  background-color: #eceeef;
  color: #818a91;
  font-size: 16px;
  display: inline-block;
  line-height: 44px;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
  color: #fff;
  background-color: #29aafe;
}
.social-icons.size-sm a {
  line-height: 34px;
  height: 34px;
  width: 34px;
  font-size: 14px;
}
.social-icons a.facebook:hover {
  background-color: #3b5998;
}
.social-icons a.twitter:hover {
  background-color: #00aced;
}
.social-icons a.instagram:hover {
  background-color: #007bb6;
}
.social-icons a.youtube:hover {
  background-color: #ea4c89;
}
@media (max-width: 767px) {
  .social-icons li.title {
    display: block;
    margin-right: 0;
    font-weight: 600;
  }
}
