

<h1 style="padding-top: 100px; padding-bottom: 100px; text-align:center">Giỏ hàng của bạn</h1>

<div class="shopping-cart">

    <div class="column-labels">
        <label class="product-image">Image</label>
        <label class="product-details">Product</label>
        <label class="product-price">Price</label>
        <label class="product-quantity">Quantity</label>
        <label class="product-removal">Remove</label>
    </div>

    <div class="cart-item">
        {{!-- cart item  --}}
    </div>

    <div class="totals">
        
        <div class="totals-item totals-item-total">
            <label>Total</label>
            <div class="totals-value" id="cart-total">0</div>
            <form action="/api/castcart" method="get">
            <button type="submit" class="checkout">Checkout</button>
            </form>
 
        </div>
        
    </div>
        
        

</div>

