

<h1 style="padding-top: 100px;">Shopping Cart</h1>

<div class="shopping-cart">

<div class="column-labels">
    <label class="product-image">Image</label>
    <label class="product-details">Product</label>
    <label class="product-price">Price</label>
    <label class="product-quantity">Quantity</label>
    <label class="product-removal">Remove</label>
</div>

<div class="cart-item">
    {{!-- cart item      --}}
</div>

<div class="totals">
    
    <div class="totals-item totals-item-total">
    <label>Total</label>
    <div class="totals-value" id="cart-total">0</div>
    </div>
</div>
    
    <button type="button" class="checkout">Checkout</button>

</div>

