<div class="footer-dark">
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-3 item">
                        <h3>Các mặt hàng</h3>
                        <ul>
                            <li><a href="#">Điện thoại</a></li>
                            <li><a href="#">Laptop</a></li>
                            <li><a href="#">Phụ kiện</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-3 item">
                        <h3>Tìm hiểu thêm</h3>
                        <ul>
                            <li><a href="#">Công ty</a></li>
                            <li><a href="#">Đội ngủ làm việc</a></li>
                            <li><a href="#">Chăm sóc khách hàng</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 item text">
                        <h3>Hoang & Nhan</h3>
                        <p>Công ty phân phối các mặt hàng điện tử Việt Nam</p>
                    </div>
                    <div class="col item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a></div>
                </div>
                <p class="copyright">DoAn1 © 2021</p>
            </div>
        </footer>
    </div>