<!doctype html>
<html lang="en">
  <head>
    <title>CNPM&reg; | TRAVELOKA</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Permanent+Marker&display=swap" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- style-->
    <link rel="stylesheet" href="../scss/app.scss">
</head>
  <body>
<!--Header-->
<header class="header ">
  <div class="top1 ">
    <p class="text-right"><i class="fa fa-phone"><span class="mx-2 " style="font-size: 20px; margin-top: 10px;">Hotline: 09013137421</span></i></p>
    
  </div>

  <nav class="  hd_navbar navbar navbar-expand-lg  ">
    <a class="navbar-brand" href="/">
      <img src="../img/chimlogo.png"  alt="" class="logo">
      <span class="logotxt" >TRAVELOKA</span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="navbar-nav  ml-auto">
       <li class="nav-item">
         <a href="/" class="nav-link">Trang chủ</a>
       </li>
       <li class="nav-item">
        <a href="/vouchers/addvoucher" class="nav-link">Add Voucher</a>
      </li>
     
      <li class="nav-item">
        <a href="#" class="nav-link">Đăng ký</a>
      </li>
	  
      <li class="nav-item">
        <a href="#" class="nav-link">Đăng nhập</a>
      </li>
      </ul>
     
    </div>
  </nav>
</header>
<!--end header--> 