<div class="wrapper">
    <form class="form-signin" method="POST" action="/user/registerstore">       
      <h2 class="form-signin-heading">Đăng Ký</h2>
      {{#if messages}}
                    {{messages}}
                {{/if}}     
                <div class="form-group">
                    <label for="txtTaiKhoan">Tài Khoản</label>
                    <input type="text" class="form-control" id="txtTaiKhoan" name="TaiKhoan" required='true' autocomplete="off" minlength="5" maxlength="30">
                </div>
                <div class="form-group">
                    <label for="txtMatKhau">Mật Khẩu</label>
                    <input type="password" class="form-control" id="txtMatKhau" name="MatKhau" required='true' autocomplete="off" minlength="5" maxlength="30">
                </div>
                <div class="form-group">
                    <label for="txtHoTen">Họ Tên</label>
                    <input type="text" class="form-control" id="txtHoTen" name="HoTen" required='true' autocomplete="off" minlength="5" maxlength="100">
                </div>
                <div class="form-group">
                    <label for="txtEmail">Email</label>
                    <input type="text" class="form-control" id="txtEmail" name="Email" required='true' autocomplete="off" minlength="5" maxlength="30">
                </div>
                <div class="form-group">
                    <label for="txtSDT">Số Điện Thoại</label>
                    <input type="tel" class="form-control" id="txtSDT" name="SDT" required='true' autocomplete="off" minlength="10" maxlength="10" pattern="[0-9]{10}">
                </div>
                <div class="form-group">
                    <label for="txtDiaChi">Địa Chỉ</label>
                    <input type="text" class="form-control" id="txtDiaChi" name="DiaChi" required='true' autocomplete="off" minlength="5">
                </div>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Đăng Ký</button>   
   
    </form>
  </div>